<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ T_FONT_AWESOME_LINK }}" rel="stylesheet">
	<link href="{{ T_THEME_PATH ~ '/stylesheet.css' }}" rel="stylesheet">
</head>
<body>
	<div class="min-h-screen bg-background">
		{% include 'header.html' %}
		<main role="main" class="max-w-7xl justify-items-start mx-auto">
			<h1 class="text-3xl font-bold underline">
				Hello world!
			</h1>
		</main>
		<footer>
			{$SCRIPTS}
		</footer>
	</div>
</body>
</html>
