@tailwind base;
@tailwind components;
@tailwind utilities;

.site_logo { background-image: url("./images/site_logo.svg"); }

.avatar-placeholder {
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    white-space: pre;
    padding-left: calc(50% - 0.5ch);
    letter-spacing: 2rem;
}
